/* Aqui vai a sua criatividade e bom gosto ;D */
.flag_ao-vivo{
    animation: flag_ao-vivo .7s ease-in 0s alternate infinite none running;
    background-color: var(--aoVivo-bgColor);
    border-radius: .2rem;
    color: var(--color-white);
    cursor: none;
    font-family: var(--fontWeight-bold);
    font-size: .7rem;
    padding: .2rem .6rem;
    text-shadow: 1px 1px 0 var(--color-g1_hover);
    text-transform: uppercase;
}

@keyframes flag_ao-vivo{
    from{color: var(--color-white);}
    to{color: hsla(0, 0%, 100%, .6);}
}
@-o-keyframes flag_ao-vivo{
    from{color: var(--color-white);}
    to{color: hsla(0, 0%, 100%, .6);}
}
@-moz-keyframes flag_ao-vivo{
    from{color: var(--color-white);}
    to{color: hsla(0, 0%, 100%, .6);}
}
@-webkit-keyframes flag_ao-vivo{
    from{color: var(--color-white);}
    to{color: hsla(0, 0%, 100%, .6);}
}